.page-top-section {
	height: 700px;
	position: relative;
	padding-top: 220px;
	text-align: center;
}
@media only screen and (max-width: 600px) {
    .page-top-section {
      height: 1000px;
    }
  }

.page-top-section.page-sp {
	padding-top: 200px;
}

.page-top-section:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.92;
	filter: alpha(opacity=92);
}

.page-top-section .container {
	position: relative;
	z-index: 9;
}

.page-top-section h2 {
	font-size: 45px;
	text-transform: uppercase;
    margin-bottom: 20px;
    color:white;
}

.page-top-section p {
    font-size: 18px;
    color:white;
    letter-spacing: 0.1em;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.page-top-section:after
{
	background: -o-linear-gradient(305deg, #f65d5d 0%, #fdb07d 100%);
	background: linear-gradient(145deg, #f65d5d 0%, #fdb07d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f65d5d", endColorstr="#fdb07d", GradientType=1);
}